<!DOCTYPE html>
<html>
    <head>
        <style>
            * {
                background: gray;
                font-family: arial, sans-serif;
                color: white;
            }
        </style>
    </head>
    <body>
        <h2><h3><%= @title.name %></h2>
        <p><%= @title.description %></p>
        <p><%= @title.writer.name %></p>
        <br>
        <img src=<%= @title.img %> />
        <%= button_to 'edit', edit_title_path(@title), method: :get %>
        <%= button_to 'delete', title_path(@title), method: 'delete' %>
        <br>
        
        <h3>Reviews</h3>
        <%= form_for @review do |f| %>
        <%= f.label :rating %>
        <%= f.text_field :rating %>
        <br><br>
        <%= f.label :content %>
        <%= f.text_area :content %>
        <%= f.hidden_field :title_id, value: @title.id %>
        <%= f.hidden_field :user_id, value: @user.id %>
        <%= f.submit %>
        <% end %>

        <br><br>


        <% @title.reviews.each do |r| %>
            <li><%= r.content %></li>
            <li><%= r.rating %> out of 5</li>
            <p>    - <%= link_to r.user.user_name, user_path(r.user) %></p>
        <% end %> 
        

        
    </body>
</html>